.home-container{
    /* background-color: lightcoral; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 75%;
    /* height: 600px; */
}

.about-section{
    padding: 10px;
    margin-left: 50px;
}

.hola{
    font-size: 80px;
    letter-spacing: 2px;
    color: lightcoral;
}

.desc {
    margin-top: 15px;
    font-size: 1.2rem;
}

.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
}

.lazy-image{
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    opacity: 1;
}

.loaded{
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.links{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.resume-link, .contact-link{
    margin-right: 50px;
    color: #0084FF;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
}

.resume-link:hover, .contact-link:hover{
    color: #0084ff8f;
    
}

.resume-icon, .contact-icon{
    color: rgba(0, 0, 0, 0.849);
}

/* Responsive */

@media screen and (max-width:1490px) {
    .hola{
        font-size: 60px;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1300px) {
    .home-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .lazy-image{
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width:1030px) {
    .home-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-section{
        margin-left: 0px;
    }
}

@media screen and (max-width:450px) {
    .home-container{
        margin-top: 110px;
    }
    .lazy-image{
        height: 250px;
        width: 250px;
    }
    .hola{
        font-size: 45px;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:420px) {
        .resume-link, .contact-link{
            margin-right: 30px;
            font-size: 1rem;
            font-weight: 500;
        }
        
        .resume-icon, .contact-icon{
            font-size: 0.9rem;
            color: rgba(0, 0, 0, 0.849);
        }

        .links{
            margin-bottom: 100px;
        }
}