.home-container{
    /* background-color: lightcoral; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 75%;
    /* height: 600px; */
}

.about-section{
    padding: 10px;
}

.hola{
    font-size: 80px;
    letter-spacing: 2px;
    color: lightcoral;
}

.desc {
    margin-top: 15px;
    font-size: 1.2rem;
}

/* .speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: 200px;
    height: 120px;
    margin-left: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -19px;
	margin-bottom: -38px;
} */

.home-image{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img{
    object-fit: cover;
    height: 400px;
    width: 700px;
}

/* Responsive */

@media screen and (max-width:1490px) {
    .hola{
        font-size: 60px;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.1rem;
    }
    .home-image img{
        height: 300px;
        width: 600px;
    }
}

@media screen and (max-width:1300px) {
    .home-container{
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:450px) {
    .home-container{
        margin-top: 110px;
    }
    .home-image img{
        height: 200px;
        width: 300px;
    }
    .hola{
        font-size: 45px;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.1rem;
    }
}