
.main-container{
    background-color: pink;
    width: 70%;
    height: 100vh;
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-areas: 
        'div1 div1 div1 div1 div1 div1'
        'div2 div3 div3 div3 div4 div4'
        'div2 div5 div5 div5 div5 div5';
    gap: 20px;
    padding: 10px;
}

.testimonial{
    /* width: 30%; */
    background-color: white;
    padding: 10px;
    transition: all 0.5s ease;
    border-radius: 20px;
}

.div1{
    grid-area: div1;
    /* border: 2px solid lightgreen; */
    background-color: lightgreen;
}

.div1:hover{
    background-color: lightgreen;
    transition: all 0.5s ease;
}

.div2{
    grid-area: div2;
    /* border: 2px solid lightcoral; */
    background-color: lightcoral;
}

.div2:hover{
    background-color: lightcoral;
    transition: all 0.5s ease;
}

.div3{
    grid-area: div3;
    /* border: 2px solid lightblue; */
    background-color: lightblue;
}

.div4{
    grid-area: div4;
    /* border: 2px solid lightseagreen; */
    background-color: rgba(56, 185, 179, 0.63);
}

.div5{
    grid-area: div5;
    /* border: 2px solid lightslategray; */
    background-color: lightslategrey;
}

.content-person{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.content-desc{
    font-size: 13px;
    font-weight: 300;
}

.content{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.content-person-div{
    display: flex;
    justify-content: space-between;
}

.quote-icon{
    font-size: 18px
}
/* 
@media screen and (max-width: 500px){
    .main-container{

    }
} */
