#navbar{
    position: fixed;
    /* display: flex; */
    align-items: center;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    transition: all 0.5s ease;
    /* border-bottom: 1px solid black; */
    background-color: white;
    z-index: 999;
}

.sidebar-ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    right: -300px;
    list-style: none;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: white;
    border-left: 1px solid slategrey;
    padding: 20px;
    /* transition: all 0.5s ease; */
}

.sidebar-ul>li{
    margin-top: 20px;
}

.navbar-ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}

.nav-li-child{
    text-decoration: none;
    background-color: transparent;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    color: black;
}

.sidebar-li-child{
    text-decoration: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    color: black;
}

.logo-li{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu-btn, .close-btn{
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.2rem;
}

.close-btn{
    font-size: 1.4rem;
}

/* #nav-sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 300px;
    height: 100%;
    width: 300px;
    z-index: 999;
    justify-content: start;
    align-items: flex-start;
} */

#logo-name{
    font-size: 1.6rem;
    margin-left: 40px;
    font-weight: 500;
    align-items: center;
    display: flex;
}

.circle{
    background-color: lightgreen;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.active{
    color: rgb(0, 132, 255);
    transition: all 0.5s ease;
}

.sidebar-open-animate{
    animation: sidebar-open 0.5s ease-in-out;
}

.sidebar-close-animate{
    animation: sidebar-close 0.5s ease-in-out;
}

@keyframes sidebar-open {
    0%   {right: -300px}
    100% {right: 0}
}

@keyframes sidebar-close {
    0%   {right: 0};
    100% {right: -300px};
}

.nav-li-child:hover{
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
    transition: all 0.5s ease;
}

@media screen and (max-width: 800px){
    .hideNavLink{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .menu-btn{
        display: none;
    }
}


@media screen and (max-width: 500px){
    .nav-title{
        font-size: 1.2rem;
    }
    .sidebar-li-child{
        font-size: 1.2rem;
    }
}
